.container{
  background-color: #ffffff !important;

}
   #about {
    background-color: #ffffff;
    margin-top:0px;
    padding-top: 0px;
  
  }
    
    #about-area {
      background-color: #ffffff !important;
      margin-top:0px;
    }
    
    .main-title {
      color: #444;
      margin-top: 180px;
      margin: 0 375px 45px 0;
      font-size: 40px;
      text-align: center;
      padding-top: 110px;
    }
    .main-title::after {
      content: "";
      border-top: 2px solid #333;
      width: 15%;
      position: absolute;
      top: 60px;
      left: 42.5%;
    }
    .about-title {
      font-size: 17px;
      color: #444;
      text-transform: uppercase;
      font-weight: bold;
    }
    
    #about-list {
      list-style: none;
      padding-left: 0;
    }
  
    .paragrafo{
        justify-content: flex-start;
        text-align:left;
        font-size: 15px;
        align-items: center;
    }

    .img-fluid{
        margin-left: 40px;
        height: 340px;
        width: 440px;


    }
  .img-fluid2 {
    margin-top: 15px;
    width: 750px;
    height: 250px;

  }
  .img-fluid3 {
    margin-top: 15px;
    width: 750px;
    height: 287px;

  }

  @media(max-width: 768px) {
    #about {
      background-color: #f2f2f2;
      margin-top:0px;
      padding-top: 0px;
      max-width: 420px;
    
    }

    .row {
      width: 100%;
    }

    
    .main-title {
      color: #444;
      margin-top: 180px;
      font-size: 10px;      
      padding-top: 40px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      padding-left: 155px;
      display: flex;
      
    }
    
   
  }

  .paragrafo2{
        justify-content: flex-start;
        text-align:left;
        align-items: center;

  }

  .imgMission{
    margin-left: 50px;
  }

  .titleMission{
padding-left: 70px;
font-weight: bold;
font-size: 16px;

  }

  .mission{
    font-size: 12px;
    text-align: center;
    padding: 10px;
    max-width: 200px;
  }


  span{
    font-weight: bold;
    color:black
  }

  .imgVision{
    margin-left: 50px;
  }

  .titleVision{
padding-left: 80px;
font-weight: bold;
font-size: 16px;

  }

  .vision{
    font-size: 12px;
    text-align: center;
    padding: 10px;
    max-width: 200px;
  }

  .imgValues{
    margin-left: 70px;
  }

  .titleValues{
padding-left: 86px;
font-weight: bold;
font-size: 16px;

  }

  .values{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    max-width: 400px;
  }
  .imgRSA{
    margin-left: 80px;
  }

  .titleRSA{
text-align: center;
font-weight: bold;
font-size: 16px;
margin-left: 50px;
margin-right: 50px;

  }

  .rsa{
    font-size: 12px;
    text-align: center;
    max-width: 230px;
    padding-left: 18px;
  }